// $mainBgColor: #1d1326;
// $mainYellow: #f7ab00;
// $mainWhite: #fdfefc;
// $mainGrey: #a39eab;

$headerHeight: 80px;
$footerHeight: 0px;

$shade0: #04d3a7;
$shade1: #02a676;
$shade2: #008c72;
$shade3: #007369;
$shade4: #005a5b;
$shade5: #003840;
